In [229]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
%pip install SQLAlchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: SQLAlchemy in c:\users\pc daniel\appdata\roaming\python\python312\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\pc daniel\appdata\roaming\python\python312\site-packages (from SQLAlchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\pc daniel\appdata\roaming\python\python312\site-packages (from SQLAlchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

In [230]:
# Cargar los CSV 
df_team = pd.read_csv('data/csv/team.csv')
#df_team_info_common = pd.read_csv('data/csv/team_info_common.csv')
#df_team_history = pd.read_csv('data/csv/team_history.csv')
df_team_details = pd.read_csv('data/csv/team_details.csv')
df_player = pd.read_csv('data/csv/player.csv')
#df_play_by_play = pd.read_csv('data/csv/play_by_play.csv')
df_other_stats = pd.read_csv('data/csv/other_stats.csv')
#df_officials = pd.read_csv('data/csv/officials.csv')
#df_line_score = pd.read_csv('data/csv/line_score.csv',parse_dates=['game_date_est'])
df_inactive_players = pd.read_csv('data/csv/inactive_players.csv')
df_game = pd.read_csv('data/csv/game.csv',parse_dates=['game_date'])
#df_game_summary = pd.read_csv('data/csv/game_summary.csv',parse_dates=['game_date_est'])
df_game_info = pd.read_csv('data/csv/game_info.csv',parse_dates=['game_date'])
df_draft_history = pd.read_csv('data/csv/draft_history.csv')
df_draft_combine_stats = pd.read_csv('data/csv/draft_combine_stats.csv')
df_common_player_info = pd.read_csv('data/csv/common_player_info.csv', parse_dates=['birthdate'])

In [231]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [232]:
def descripcion_datos(data):
    for i in data.columns:
        if data[i].dtype=='float64' or data[i].dtype=='int64':
            print(i)
            print('Mediana: ',data[i].median())
            print('Varianza: ',data[i].var())
            print('Rango: ',data[i].max()-data[i].min())
            print('Moda:')
            print(data[i].mode())
            print('------------------------------------')

    print('-------------------Datos nulos:-------------------')
    print(data.isnull().sum())
    print('-----------------------------------------')
    print('Dimensiones del dataframe:')
    print(np.shape(data))
    print('-----------------------------------------')

### tabla team

In [233]:
df_team.dtypes

id                int64
full_name        object
abbreviation     object
nickname         object
city             object
state            object
year_founded    float64
dtype: object

In [234]:
df_team.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949.0
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946.0
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970.0
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002.0
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966.0

In [235]:
df_team['year_founded'] = df_team['year_founded'].astype(int)

### tabla team_details

In [236]:
df_team_details.dtypes

team_id                 int64
abbreviation           object
nickname               object
yearfounded           float64
city                   object
arena                  object
arenacapacity         float64
owner                  object
generalmanager         object
headcoach              object
dleagueaffiliation     object
facebook               object
instagram              object
twitter                object
dtype: object

In [237]:
#df_team_details.shape
#(25, 14)
df_team_details.drop(columns=['facebook','instagram','twitter'],inplace=True)

df_team_details['yearfounded'] = df_team_details['yearfounded'] .fillna(0)
df_team_details['arenacapacity'] = df_team_details['arenacapacity'].fillna(0)
df_team_details['yearfounded'] = df_team_details['yearfounded'].astype(int)
df_team_details['arenacapacity'] = df_team_details['arenacapacity'].astype(int)
df_team_details.head()

,team_id,abbreviation,nickname,yearfounded,city,arena,arenacapacity,owner,generalmanager,headcoach,dleagueaffiliation
0,1610612737,ATL,Hawks,1949,Atlanta,State Farm Arena,18729,Tony Ressler,Travis Schlenk,Quin Snyder,College Park Skyhawks
1,1610612741,CHI,Bulls,1966,Chicago,United Center,21711,Michael Reinsdorf,Arturas Karnisovas,Billy Donovan,Windy City Bulls
2,1610612742,DAL,Mavericks,1980,Dallas,American Airlines Center,19200,Mark Cuban,Nico Harrison,Jason Kidd,Texas Legends
3,1610612743,DEN,Nuggets,1976,Denver,Ball Arena,0,Stan Kroenke,Calvin Booth,Michael Malone,Grand Rapids Gold
4,1610612744,GSW,Warriors,1946,Golden State,Chase Center,0,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors

### tabla game

In [238]:
descripcion_datos(df_game)

season_id
Mediana:  21997.0
Varianza:  25003055.094116714
Rango:  30017
Moda:
0     22004
1     22005
2     22006
3     22007
4     22008
5     22009
6     22010
7     22013
8     22014
9     22015
10    22016
11    22017
12    22018
13    22021
14    22022
Name: season_id, dtype: int64
------------------------------------
team_id_home
Mediana:  1610612751.0
Varianza:  1105105925744262.5
Rango:  1610616789
Moda:
0    1610612738
Name: team_id_home, dtype: int64
------------------------------------
game_id
Mediana:  26300068.5
Varianza:  39737395605658.68
Rango:  39300086
Moda:
0     30100001
1     30200001
2     30300001
3     30400001
4     30500001
5     30600001
6     30700001
7     30800001
8     30900001
9     31000001
10    31200001
11    31400001
12    31500001
13    31600001
14    31700001
15    31800001
16    32000001
17    32200001
18    35000001
19    35100001
20    35200001
21    35300004
22    35400001
23    35500001
24    35600001
25    35700001
26    35800001
27    35900001
28    36103001
29    36200001
30    36400001
31    36600001
32    36700001
33    36800001
34    36900001
35    37000001
36    37200001
37    37400101
38    37600027
39    37700001
40    37900001
41    38100002
42    38200001
43    38300010
44    38500001
45    38600001
46    38700001
47    38800002
48    38900002
49    39000002
50    39100002
51    39210001
52    39400001
53    39500001
54    39600001
55    39900001
Name: game_id, dtype: int64
------------------------------------
min
Mediana:  240.0
Varianza:  4610.888171480996
Rango:  365
Moda:
0    240
Name: min, dtype: int64
------------------------------------
fgm_home
Mediana:  40.0
Varianza:  45.84376618782642
Rango:  80.0
Moda:
0    39.0
Name: fgm_home, dtype: float64
------------------------------------
fga_home
Mediana:  84.0
Varianza:  83.98705258131544
Rango:  240.0
Moda:
0    83.0
Name: fga_home, dtype: float64
------------------------------------
fg_pct_home
Mediana:  0.467
Varianza:  0.0035311448804054464
Rango:  0.5569999999999999
Moda:
0    0.5
Name: fg_pct_home, dtype: float64
------------------------------------
fg3m_home
Mediana:  5.0
Varianza:  20.587422540154275
Rango:  28.0
Moda:
0    0.0
Name: fg3m_home, dtype: float64
------------------------------------
fg3a_home
Mediana:  16.0
Varianza:  111.21410116575365
Rango:  77.0
Moda:
0    14.0
1    15.0
Name: fg3a_home, dtype: float64
------------------------------------
fg3_pct_home
Mediana:  0.348
Varianza:  0.022871616522948533
Rango:  1.0
Moda:
0    0.333
Name: fg3_pct_home, dtype: float64
------------------------------------
ftm_home
Mediana:  20.0
Varianza:  50.96319149813885
Rango:  61.0
Moda:
0    20.0
Name: ftm_home, dtype: float64
------------------------------------
fta_home
Mediana:  27.0
Varianza:  78.30108757604694
Rango:  86.0
Moda:
0    26.0
Name: fta_home, dtype: float64
------------------------------------
ft_pct_home
Mediana:  0.76
Varianza:  0.009724242828835676
Rango:  4.167
Moda:
0    0.75
Name: ft_pct_home, dtype: float64
------------------------------------
oreb_home
Mediana:  12.0
Varianza:  19.688353073177026
Rango:  44.0
Moda:
0    11.0
Name: oreb_home, dtype: float64
------------------------------------
dreb_home
Mediana:  31.0
Varianza:  31.502745999894127
Rango:  53.0
Moda:
0    30.0
Name: dreb_home, dtype: float64
------------------------------------
reb_home
Mediana:  43.0
Varianza:  50.23909365833713
Rango:  85.0
Moda:
0    42.0
Name: reb_home, dtype: float64
------------------------------------
ast_home
Mediana:  24.0
Varianza:  32.42223774414809
Rango:  60.0
Moda:
0    23.0
Name: ast_home, dtype: float64
------------------------------------
stl_home
Mediana:  8.0
Varianza:  9.67263994432555
Rango:  27.0
Moda:
0    8.0
Name: stl_home, dtype: float64
------------------------------------
blk_home
Mediana:  5.0
Varianza:  7.667184856464786
Rango:  23.0
Moda:
0    4.0
Name: blk_home, dtype: float64
------------------------------------
tov_home
Mediana:  15.0
Varianza:  17.139632201142454
Rango:  39.0
Moda:
0    14.0
Name: tov_home, dtype: float64
------------------------------------
pf_home
Mediana:  22.0
Varianza:  25.428504134590835
Rango:  122.0
Moda:
0    22.0
Name: pf_home, dtype: float64
------------------------------------
pts_home
Mediana:  105.0
Varianza:  217.79630762686293
Rango:  174.0
Moda:
0    102.0
Name: pts_home, dtype: float64
------------------------------------
plus_minus_home
Mediana:  4.0
Varianza:  171.3846195077946
Rango:  141
Moda:
0    7
Name: plus_minus_home, dtype: int64
------------------------------------
video_available_home
Mediana:  0.0
Varianza:  0.16079887558313258
Rango:  1
Moda:
0    0
Name: video_available_home, dtype: int64
------------------------------------
team_id_away
Mediana:  1610612751.0
Varianza:  2682193755699518.5
Rango:  1610616793
Moda:
0    1610612738
Name: team_id_away, dtype: int64
------------------------------------
fgm_away
Mediana:  38.0
Varianza:  41.99241046039865
Rango:  78.0
Moda:
0    37.0
Name: fgm_away, dtype: float64
------------------------------------
fga_away
Mediana:  83.0
Varianza:  83.25095449143805
Rango:  149.0
Moda:
0    82.0
Name: fga_away, dtype: float64
------------------------------------
fg_pct_away
Mediana:  0.455
Varianza:  0.003506866219172787
Rango:  3.4
Moda:
0    0.5
Name: fg_pct_away, dtype: float64
------------------------------------
fg3m_away
Mediana:  5.0
Varianza:  19.78216168544944
Rango:  35.0
Moda:
0    0.0
Name: fg3m_away, dtype: float64
------------------------------------
fg3a_away
Mediana:  16.0
Varianza:  109.37295839085199
Rango:  90.0
Moda:
0    13.0
Name: fg3a_away, dtype: float64
------------------------------------
fg3_pct_away
Mediana:  0.333
Varianza:  0.021696488377366954
Rango:  1.0
Moda:
0    0.333
Name: fg3_pct_away, dtype: float64
------------------------------------
ftm_away
Mediana:  19.0
Varianza:  46.81591304747251
Rango:  57.0
Moda:
0    18.0
Name: ftm_away, dtype: float64
------------------------------------
fta_away
Mediana:  25.0
Varianza:  72.19280396801472
Rango:  91.0
Moda:
0    24.0
Name: fta_away, dtype: float64
------------------------------------
ft_pct_away
Mediana:  0.758
Varianza:  0.010710804550281259
Rango:  5.107
Moda:
0    0.75
Name: ft_pct_away, dtype: float64
------------------------------------
oreb_away
Mediana:  11.0
Varianza:  18.32962741336062
Rango:  40.0
Moda:
0    10.0
Name: oreb_away, dtype: float64
------------------------------------
dreb_away
Mediana:  30.0
Varianza:  31.2332835082649
Rango:  60.0
Moda:
0    30.0
Name: dreb_away, dtype: float64
------------------------------------
reb_away
Mediana:  42.0
Varianza:  47.161123126715744
Rango:  90.0
Moda:
0    41.0
Name: reb_away, dtype: float64
------------------------------------
ast_away
Mediana:  22.0
Varianza:  28.953061849979495
Rango:  89.0
Moda:
0    22.0
Name: ast_away, dtype: float64
------------------------------------
stl_away
Mediana:  8.0
Varianza:  9.191606818899157
Rango:  27.0
Moda:
0    7.0
Name: stl_away, dtype: float64
------------------------------------
blk_away
Mediana:  4.0
Varianza:  6.254098486768234
Rango:  19.0
Moda:
0    4.0
Name: blk_away, dtype: float64
------------------------------------
tov_away
Mediana:  15.0
Varianza:  18.488260849856374
Rango:  40.0
Moda:
0    14.0
Name: tov_away, dtype: float64
------------------------------------
pf_away
Mediana:  23.0
Varianza:  27.323699302394722
Rango:  115.0
Moda:
0    22.0
Name: pf_away, dtype: float64
------------------------------------
pts_away
Mediana:  101.0
Varianza:  207.9005027380456
Rango:  177.0
Moda:
0    102.0
Name: pts_away, dtype: float64
------------------------------------
plus_minus_away
Mediana:  -4.0
Varianza:  171.3846195077946
Rango:  141
Moda:
0   -7
Name: plus_minus_away, dtype: int64
------------------------------------
video_available_away
Mediana:  0.0
Varianza:  0.16079887558313258
Rango:  1
Moda:
0    0
Name: video_available_away, dtype: int64
------------------------------------
-------------------Datos nulos:-------------------
season_id                     0
team_id_home                  0
team_abbreviation_home        0
team_name_home                0
game_id                       0
game_date                     0
matchup_home                  0
wl_home                       2
min                           0
fgm_home                     13
fga_home                  15447
fg_pct_home               15490
fg3m_home                 13218
fg3a_home                 18683
fg3_pct_home              19074
ftm_home                     16
fta_home                   3004
ft_pct_home                3009
oreb_home                 18936
dreb_home                 18999
reb_home                  15729
ast_home                  15805
stl_home                  18849
blk_home                  18626
tov_home                  18684
pf_home                    2856
pts_home                      0
plus_minus_home               0
video_available_home          0
team_id_away                  0
team_abbreviation_away        0
team_name_away                0
matchup_away                  0
wl_away                       2
fgm_away                     13
fga_away                  15447
fg_pct_away               15489
fg3m_away                 13218
fg3a_away                 18683
fg3_pct_away              18962
ftm_away                     13
fta_away                   3004
ft_pct_away                3006
oreb_away                 18936
dreb_away                 18998
reb_away                  15725
ast_away                  15801
stl_away                  18849
blk_away                  18625
tov_away                  18685
pf_away                    2851
pts_away                      0
plus_minus_away               0
video_available_away          0
season_type                   0
dtype: int64
-----------------------------------------
Dimensiones del dataframe:
(65698, 55)
-----------------------------------------

Descripción de las Columnas de la Tabla game
season_id (BIGINT): Identificador único para la temporada en la que se jugó el partido. Generalmente, esto puede ser un año o un código específico de temporada.

team_id_home (BIGINT): Identificador único del equipo local. Este ID se refiere al equipo que juega en su cancha.

team_abbreviation_home (VARCHAR(10)): Abreviatura del equipo local. Por ejemplo, "LAL" para Los Angeles Lakers.

team_name_home (VARCHAR(100)): Nombre completo del equipo local. Por ejemplo, "Los Angeles Lakers".

game_id (BIGINT): Identificador único para el partido. Este ID es específico para cada juego.

game_date (TIMESTAMP): Fecha y hora del partido. Este campo almacena cuándo se jugó el partido.

matchup_home (VARCHAR(100)): Descripción del enfrentamiento del equipo local. Generalmente en el formato "Equipo Local vs Equipo Visitante".

wl_home (VARCHAR(2)): Resultado del partido para el equipo local. "W" indica una victoria, "L" indica una derrota.

min (BIGINT): Minutos jugados en el partido. Suele ser 48 minutos para un partido estándar de la NBA.

fgm_home (FLOAT): Tiros de campo realizados por el equipo local. Es el número total de canastas realizadas.

fga_home (FLOAT): Tiros de campo intentados por el equipo local. Es el número total de canastas intentadas.

fg_pct_home (FLOAT): Porcentaje de tiros de campo realizados por el equipo local. Calculado como (fgm_home / fga_home) * 100.

fg3m_home (FLOAT): Triples realizados por el equipo local. Número de canastas de tres puntos realizadas.

fg3a_home (FLOAT): Triples intentados por el equipo local. Número de canastas de tres puntos intentadas.

fg3_pct_home (FLOAT): Porcentaje de triples realizados por el equipo local. Calculado como (fg3m_home / fg3a_home) * 100.

ftm_home (FLOAT): Tiros libres realizados por el equipo local. Número de tiros libres convertidos.

fta_home (FLOAT): Tiros libres intentados por el equipo local. Número de tiros libres intentados.

ft_pct_home (FLOAT): Porcentaje de tiros libres realizados por el equipo local. Calculado como (ftm_home / fta_home) * 100.

oreb_home (FLOAT): Rebotes ofensivos del equipo local. Número de rebotes obtenidos en el lado ofensivo de la cancha.

dreb_home (FLOAT): Rebotes defensivos del equipo local. Número de rebotes obtenidos en el lado defensivo de la cancha.

reb_home (FLOAT): Rebotes totales del equipo local. Suma de rebotes ofensivos y defensivos.

ast_home (FLOAT): Asistencias del equipo local. Número de pases que resultan en una canasta.

stl_home (FLOAT): Robos del equipo local. Número de veces que el equipo local le quita el balón al oponente.

blk_home (FLOAT): Bloqueos del equipo local. Número de tiros del oponente que son bloqueados.

tov_home (FLOAT): Pérdidas de balón del equipo local. Número de veces que el equipo local pierde la posesión del balón.

pf_home (FLOAT): Faltas personales del equipo local. Número de faltas cometidas por los jugadores del equipo local.

pts_home (FLOAT): Puntos anotados por el equipo local. Número total de puntos anotados por el equipo local.

plus_minus_home (BIGINT): Estadística de plus-minus para el equipo local. Representa la diferencia de puntos cuando el jugador o el equipo está en la cancha.

video_available_home (BIGINT): Indicador de disponibilidad de video para el equipo local. Puede ser 1 si el video está disponible y 0 si no lo está.

team_id_away (BIGINT): Identificador único del equipo visitante.

team_abbreviation_away (VARCHAR(10)): Abreviatura del equipo visitante.

team_name_away (VARCHAR(100)): Nombre completo del equipo visitante.

matchup_away (VARCHAR(100)): Descripción del enfrentamiento del equipo visitante.

wl_away (VARCHAR(2)): Resultado del partido para el equipo visitante. "W" para victoria, "L" para derrota.

fgm_away (FLOAT): Tiros de campo realizados por el equipo visitante.

fga_away (FLOAT): Tiros de campo intentados por el equipo visitante.

fg_pct_away (FLOAT): Porcentaje de tiros de campo realizados por el equipo visitante.

fg3m_away (FLOAT): Triples realizados por el equipo visitante.

fg3a_away (FLOAT): Triples intentados por el equipo visitante.

fg3_pct_away (FLOAT): Porcentaje de triples realizados por el equipo visitante.

ftm_away (FLOAT): Tiros libres realizados por el equipo visitante.

fta_away (FLOAT): Tiros libres intentados por el equipo visitante.

ft_pct_away (FLOAT): Porcentaje de tiros libres realizados por el equipo visitante.

oreb_away (FLOAT): Rebotes ofensivos del equipo visitante.

dreb_away (FLOAT): Rebotes defensivos del equipo visitante.

reb_away (FLOAT): Rebotes totales del equipo visitante.

ast_away (FLOAT): Asistencias del equipo visitante.

stl_away (FLOAT): Robos del equipo visitante.

blk_away (FLOAT): Bloqueos del equipo visitante.

tov_away (FLOAT): Pérdidas de balón del equipo visitante.

pf_away (FLOAT): Faltas personales del equipo visitante.

pts_away (FLOAT): Puntos anotados por el equipo visitante.

plus_minus_away (BIGINT): Estadística de plus-minus para el equipo visitante.

video_available_away (BIGINT): Indicador de disponibilidad de video para el equipo visitante.

season_type (VARCHAR(20)): Tipo de temporada, como "Regular", "Playoffs", etc.

In [239]:
df_game.shape

(65698, 55)

In [240]:

df_game = df_game.drop_duplicates(subset = ['game_id'])
df_game.shape

(65642, 55)

In [241]:
df_game.dtypes

season_id                          int64
team_id_home                       int64
team_abbreviation_home            object
team_name_home                    object
game_id                            int64
game_date                 datetime64[ns]
matchup_home                      object
wl_home                           object
min                                int64
fgm_home                         float64
fga_home                         float64
fg_pct_home                      float64
fg3m_home                        float64
fg3a_home                        float64
fg3_pct_home                     float64
ftm_home                         float64
fta_home                         float64
ft_pct_home                      float64
oreb_home                        float64
dreb_home                        float64
reb_home                         float64
ast_home                         float64
stl_home                         float64
blk_home                         float64
tov_home                         float64
pf_home                          float64
pts_home                         float64
plus_minus_home                    int64
video_available_home               int64
team_id_away                       int64
team_abbreviation_away            object
team_name_away                    object
matchup_away                      object
wl_away                           object
fgm_away                         float64
fga_away                         float64
fg_pct_away                      float64
fg3m_away                        float64
fg3a_away                        float64
fg3_pct_away                     float64
ftm_away                         float64
fta_away                         float64
ft_pct_away                      float64
oreb_away                        float64
dreb_away                        float64
reb_away                         float64
ast_away                         float64
stl_away                         float64
blk_away                         float64
tov_away                         float64
pf_away                          float64
pts_away                         float64
plus_minus_away                    int64
video_available_away               int64
season_type                       object
dtype: object

In [242]:
df_game.head()

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,fga_home,fg_pct_home,fg3m_home,fg3a_home,fg3_pct_home,ftm_home,fta_home,ft_pct_home,oreb_home,dreb_home,reb_home,ast_home,stl_home,blk_home,tov_home,pf_home,pts_home,plus_minus_home,video_available_home,team_id_away,team_abbreviation_away,team_name_away,matchup_away,wl_away,fgm_away,fga_away,fg_pct_away,fg3m_away,fg3a_away,fg3_pct_away,ftm_away,fta_away,ft_pct_away,oreb_away,dreb_away,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
0,21946,1610610035,HUS,Toronto Huskies,24600001,1946-11-01,HUS vs. NYK,L,0,25.0,NaN,NaN,NaN,NaN,NaN,16.0,29.0,0.552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,-2,0,1610612752,NYK,New York Knicks,NYK @ HUS,W,24.0,NaN,NaN,NaN,NaN,NaN,20.0,26.0,0.769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.0,2,0,Regular Season
1,21946,1610610034,BOM,St. Louis Bombers,24600003,1946-11-02,BOM vs. PIT,W,0,20.0,59.0,0.339,NaN,NaN,NaN,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,56.0,5,0,1610610031,PIT,Pittsburgh Ironmen,PIT @ BOM,L,16.0,72.0,0.222,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,51.0,-5,0,Regular Season
2,21946,1610610032,PRO,Providence Steamrollers,24600002,1946-11-02,PRO vs. BOS,W,0,21.0,NaN,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,6,0,1610612738,BOS,Boston Celtics,BOS @ PRO,L,21.0,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0,-6,0,Regular Season
3,21946,1610610025,CHS,Chicago Stags,24600004,1946-11-02,CHS vs. NYK,W,0,21.0,NaN,NaN,NaN,NaN,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,63.0,16,0,1610612752,NYK,New York Knicks,NYK @ CHS,L,16.0,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,47.0,-16,0,Regular Season
4,21946,1610610028,DEF,Detroit Falcons,24600005,1946-11-02,DEF vs. WAS,L,0,10.0,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,-17,0,1610610036,WAS,Washington Capitols,WAS @ DEF,W,18.0,NaN,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,17,0,Regular Season

In [243]:
#eliminamos la columnas video_available_away
df_game = df_game.drop(columns=['video_available_away'])

In [244]:
#df_game.shape
#(65698, 55)

# Definir el rango de fechas
start_date = '2013-01-01'
end_date = '2023-12-31'

df_game = df_game[(df_game['game_date'] >= start_date) & (df_game['game_date'] <= end_date)].reset_index(drop=True)
df_game.shape

#una vez filtado pasamos de (65698, 55)a (13627, 55)

(13619, 54)

### tabla game_info

In [245]:
df_game_info.dtypes

game_id                int64
game_date     datetime64[ns]
attendance           float64
game_time             object
dtype: object

In [246]:
df_game_info = df_game_info.drop(columns=['game_time'])

In [247]:
df_game_info = df_game_info.drop_duplicates(subset=['game_id'])

In [248]:
df_game_info['attendance'] = df_game_info['attendance'].fillna(0)
df_game_info['attendance'] = df_game_info['attendance'].astype(int)

In [249]:

df_game_info.head()

    game_id  game_date  attendance
0  24600001 1946-11-01           0
1  24600003 1946-11-02           0
2  24600002 1946-11-02           0
3  24600004 1946-11-02           0
4  24600005 1946-11-02           0

In [250]:
#df_game_info.shape
#(58053, 4)

# Definir el rango de fechas
start_date = '2013-01-01'
end_date = '2023-12-31'

df_game_info = df_game_info[(df_game_info['game_date'] >= start_date) & (df_game_info['game_date'] <= end_date)].reset_index(drop=True)
df_game_info.shape

#una vez filtado y limpiado pasamos de (65698, 55)a (12405, 3)

(12405, 3)

### tabla other_stats

In [251]:
df_other_stats.dtypes

game_id                     int64
league_id                   int64
team_id_home                int64
team_abbreviation_home     object
team_city_home             object
pts_paint_home              int64
pts_2nd_chance_home         int64
pts_fb_home                 int64
largest_lead_home           int64
lead_changes                int64
times_tied                  int64
team_turnovers_home       float64
total_turnovers_home      float64
team_rebounds_home        float64
pts_off_to_home           float64
team_id_away                int64
team_abbreviation_away     object
team_city_away             object
pts_paint_away              int64
pts_2nd_chance_away         int64
pts_fb_away                 int64
largest_lead_away           int64
team_turnovers_away       float64
total_turnovers_away      float64
team_rebounds_away        float64
pts_off_to_away           float64
dtype: object

In [252]:
df_other_stats=df_other_stats.drop_duplicates()
df_other_stats.shape

(28261, 26)

In [253]:
df_other_stats.head()
#df_other_stats.shape
#(28271, 26) a (11600, 26)

,game_id,league_id,team_id_home,team_abbreviation_home,team_city_home,pts_paint_home,pts_2nd_chance_home,pts_fb_home,largest_lead_home,lead_changes,times_tied,team_turnovers_home,total_turnovers_home,team_rebounds_home,pts_off_to_home,team_id_away,team_abbreviation_away,team_city_away,pts_paint_away,pts_2nd_chance_away,pts_fb_away,largest_lead_away,team_turnovers_away,total_turnovers_away,team_rebounds_away,pts_off_to_away
0,29600012,0,1610612756,PHX,Phoenix,44,18,2,1,4,1,0.0,12.0,11.0,NaN,1610612747,LAL,Los Angeles,42,10,13,19,0.0,23.0,11.0,NaN
1,29600005,0,1610612737,ATL,Atlanta,32,9,6,0,0,0,1.0,24.0,7.0,NaN,1610612748,MIA,Miami,32,15,14,16,1.0,19.0,6.0,NaN
2,29600002,0,1610612739,CLE,Cleveland,36,14,6,20,1,1,0.0,15.0,5.0,NaN,1610612751,NJN,New Jersey,26,16,4,2,1.0,22.0,12.0,NaN
3,29600007,0,1610612754,IND,Indiana,34,11,4,10,7,4,0.0,18.0,8.0,NaN,1610612765,DET,Detroit,30,14,7,9,2.0,19.0,10.0,NaN
4,29600013,0,1610612746,LAC,Los Angeles,40,19,2,12,5,4,0.0,20.0,7.0,NaN,1610612744,GSW,Golden State,30,9,2,6,0.0,20.0,7.0,NaN

In [254]:
# ahora que tenemos los game id del rango de fecha indicado necesitamos filtrar las demas tablas con los game_id indicados


df_other_stats = df_other_stats[df_other_stats['game_id'].isin(df_game_info['game_id'])].reset_index(drop=True)
df_other_stats[df_other_stats['game_id'].isin(df_game_info['game_id'])].shape
#una vez filtado pasamos de (28271, 26) a (11600, 26)

(11595, 26)

### tabla common_player_info

In [255]:
df_common_player_info.dtypes

person_id                                    int64
first_name                                  object
last_name                                   object
display_first_last                          object
display_last_comma_first                    object
display_fi_last                             object
player_slug                                 object
birthdate                           datetime64[ns]
school                                      object
country                                     object
last_affiliation                            object
height                                      object
weight                                     float64
season_exp                                 float64
jersey                                      object
position                                    object
rosterstatus                                object
games_played_current_season_flag            object
team_id                                      int64
team_name                                   object
team_abbreviation                           object
team_code                                   object
team_city                                   object
playercode                                  object
from_year                                  float64
to_year                                    float64
dleague_flag                                object
nba_flag                                    object
games_played_flag                           object
draft_year                                  object
draft_round                                 object
draft_number                                object
greatest_75_flag                            object
dtype: object

In [256]:
df_common_player_info['from_year'] = df_common_player_info['from_year'].fillna(0)
df_common_player_info['to_year'] = df_common_player_info['to_year'].fillna(0)

df_common_player_info['from_year'] = df_common_player_info['from_year'].astype(int)
df_common_player_info['to_year'] = df_common_player_info['to_year'].astype(int)

In [257]:
df_common_player_info.head()

,person_id,first_name,last_name,display_first_last,display_last_comma_first,display_fi_last,player_slug,birthdate,school,country,last_affiliation,height,weight,season_exp,jersey,position,rosterstatus,games_played_current_season_flag,team_id,team_name,team_abbreviation,team_code,team_city,playercode,from_year,to_year,dleague_flag,nba_flag,games_played_flag,draft_year,draft_round,draft_number,greatest_75_flag
0,76001,Alaa,Abdelnaby,Alaa Abdelnaby,"Abdelnaby, Alaa",A. Abdelnaby,alaa-abdelnaby,1968-06-24,Duke,USA,Duke/USA,6-10,240.0,5.0,30,Forward,Inactive,N,1610612757,Trail Blazers,POR,blazers,Portland,HISTADD_alaa_abdelnaby,1990,1994,N,Y,Y,1990,1,25,N
1,76003,Kareem,Abdul-Jabbar,Kareem Abdul-Jabbar,"Abdul-Jabbar, Kareem",K. Abdul-Jabbar,kareem-abdul-jabbar,1947-04-16,UCLA,USA,UCLA/USA,7-2,225.0,20.0,33,Center,Inactive,N,1610612747,Lakers,LAL,lakers,Los Angeles,HISTADD_kareem_abdul-jabbar,1969,1988,N,Y,Y,1969,1,1,Y
2,1505,Tariq,Abdul-Wahad,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",T. Abdul-Wahad,tariq-abdul-wahad,1974-11-03,San Jose State,France,San Jose State/France,6-6,235.0,7.0,9,Forward-Guard,Inactive,N,1610612758,Kings,SAC,kings,Sacramento,tariq_abdul-wahad,1997,2003,N,Y,Y,1997,1,11,N
3,949,Shareef,Abdur-Rahim,Shareef Abdur-Rahim,"Abdur-Rahim, Shareef",S. Abdur-Rahim,shareef-abdur-rahim,1976-12-11,California,USA,California/USA,6-9,245.0,13.0,3,Forward,Inactive,N,1610612763,Grizzlies,VAN,grizzlies,Vancouver,shareef_abdur-rahim,1996,2007,N,Y,Y,1996,1,3,N
4,76005,Tom,Abernethy,Tom Abernethy,"Abernethy, Tom",T. Abernethy,tom-abernethy,1954-05-06,Indiana,USA,Indiana/USA,6-7,220.0,5.0,5,Forward,Inactive,N,1610612744,Warriors,GOS,warriors,Golden State,HISTADD_tom_abernethy,1976,1980,N,Y,Y,1976,3,43,N

In [258]:
#df_common_player_info.shape
#(4171, 33)
# aca filtramos a los jugafores que estuvieron activos en el periodo entre 2013 y 2023
start_date = 2013
end_date = 2023

# Filtrar el DataFrame
df_common_player_info = df_common_player_info[(df_common_player_info['to_year'] >= start_date ) & (df_common_player_info['to_year'] <= end_date)].reset_index(drop=True)
df_common_player_info.shape
#una vez filtado pasamos de (4171, 33) a (1217, 33)

(1217, 33)

### tabla player

In [259]:
df_player.dtypes

id             int64
full_name     object
first_name    object
last_name     object
is_active      int64
dtype: object

In [260]:
#filtro common_player info

df_player = df_player[df_player['id'].isin(df_common_player_info['person_id'])].reset_index(drop=True)
df_player.shape

(1217, 5)

In [261]:
df_player.head()

        id         full_name first_name last_name  is_active
0   203518      Alex Abrines       Alex   Abrines          0
1  1630173  Precious Achiuwa   Precious   Achiuwa          1
2   203112        Quincy Acy     Quincy       Acy          0
3  1629121      Jaylen Adams     Jaylen     Adams          0
4   203919      Jordan Adams     Jordan     Adams          0

In [262]:
#df_player.shape
#(4831, 5)
#df_player.drop_duplicates()
df_player.shape
#(4831, 5)

(1217, 5)

### tabla inactive_players

In [263]:
# esta tabla registra las veces que un jugador sue inactivo, contar las ocurrencias de estas nos dara las veces que se lesiono
df_inactive_players.dtypes

game_id                int64
player_id              int64
first_name            object
last_name             object
jersey_num           float64
team_id                int64
team_city             object
team_name             object
team_abbreviation     object
dtype: object

In [264]:
#filtro common_player info

df_inactive_players = df_inactive_players[df_inactive_players['player_id'].isin(df_common_player_info['person_id'])].reset_index(drop=True)
df_inactive_players.shape

(73422, 9)

In [265]:

# Ordenar el DataFrame por la columna 'df_player' y obtener los primeros registros
df_inactive_players.sort_values(by='player_id').head(30)

,game_id,player_id,first_name,last_name,jersey_num,team_id,team_city,team_name,team_abbreviation
21979,21500637,708,Kevin,Garnett,21.0,1610612750,Minnesota,Timberwolves,MIN
5571,40800212,708,Kevin,Garnett,5.0,1610612738,Boston,Celtics,BOS
22088,21500667,708,Kevin,Garnett,21.0,1610612750,Minnesota,Timberwolves,MIN
5564,40800117,708,Kevin,Garnett,5.0,1610612738,Boston,Celtics,BOS
5561,40800116,708,Kevin,Garnett,5.0,1610612738,Boston,Celtics,BOS
18330,21400808,708,Kevin,Garnett,21.0,1610612750,Minnesota,Timberwolves,MIN
5534,40800114,708,Kevin,Garnett,5.0,1610612738,Boston,Celtics,BOS
5524,40800113,708,Kevin,Garnett,5.0,1610612738,Boston,Celtics,BOS
5513,40800112,708,Kevin,Garnett,5.0,1610612738,Boston,Celtics,BOS
22170,21500688,708,Kevin,Garnett,21.0,1610612750,Minnesota,Timberwolves,MIN
5502,40800111,708,Kevin,Garnett,5.0,1610612738,Boston,Celtics,BOS
22198,21500704,708,Kevin,Garnett,21.0,1610612750,Minnesota,Timberwolves,MIN
5456,20801217,708,Kevin,Garnett,5.0,1610612738,Boston,Celtics,BOS
5437,20801215,708,Kevin,Garnett,5.0,1610612738,Boston,Celtics,BOS
5380,20801179,708,Kevin,Garnett,5.0,1610612738,Boston,Celtics,BOS
22324,21500734,708,Kevin,Garnett,21.0,1610612750,Minnesota,Timberwolves,MIN
5363,20801165,708,Kevin,Garnett,5.0,1610612738,Boston,Celtics,BOS
22330,21500745,708,Kevin,Garnett,21.0,1610612750,Minnesota,Timberwolves,MIN
22438,21500766,708,Kevin,Garnett,21.0,1610612750,Minnesota,Timberwolves,MIN
22536,21500797,708,Kevin,Garnett,21.0,1610612750,Minnesota,Timberwolves,MIN
5576,40800213,708,Kevin,Garnett,5.0,1610612738,Boston,Celtics,BOS
5580,40800214,708,Kevin,Garnett,5.0,1610612738,Boston,Celtics,BOS
5585,40800215,708,Kevin,Garnett,5.0,1610612738,Boston,Celtics,BOS
5589,40800216,708,Kevin,Garnett,5.0,1610612738,Boston,Celtics,BOS
6518,20900604,708,Kevin,Garnett,5.0,1610612738,Boston,Celtics,BOS
6485,20900569,708,Kevin,Garnett,5.0,1610612738,Boston,Celtics,BOS
6480,20900561,708,Kevin,Garnett,5.0,1610612738,Boston,Celtics,BOS
6459,20900546,708,Kevin,Garnett,5.0,1610612738,Boston,Celtics,BOS
6443,20900538,708,Kevin,Garnett,5.0,1610612738,Boston,Celtics,BOS
6417,20900520,708,Kevin,Garnett,5.0,1610612738,Boston,Celtics,BOS

In [266]:
df_inactive_players.head()
#df_inactive_players.shape
#(110191, 9)

,game_id,player_id,first_name,last_name,jersey_num,team_id,team_city,team_name,team_abbreviation
0,29800555,979,Jermaine,O'Neal,5.0,1610612757,Portland,Trail Blazers,POR
1,20000602,1897,Metta,World Peace,15.0,1610612741,Chicago,Bulls,CHI
2,20000758,2037,Jamal,Crawford,1.0,1610612741,Chicago,Bulls,CHI
3,20100389,2030,Kenyon,Martin,6.0,1610612751,New Jersey,Nets,NJN
4,20101018,2223,Samuel,Dalembert,1.0,1610612755,Philadelphia,76ers,PHI

In [267]:
descripcion_datos(df_inactive_players)

game_id
Mediana:  21800347.0
Varianza:  19275018383992.63
Rango:  31700397
Moda:
0    22100519
Name: game_id, dtype: int64
------------------------------------
player_id
Mediana:  203925.0
Varianza:  542011216093.4141
Rango:  1630615
Moda:
0    201568
Name: player_id, dtype: int64
------------------------------------
jersey_num
Mediana:  14.0
Varianza:  250.39088221885675
Rango:  99.0
Moda:
0    5.0
Name: jersey_num, dtype: float64
------------------------------------
team_id
Mediana:  1610612751.0
Varianza:  6654.302173739624
Rango:  4097
Moda:
0    1610612738
Name: team_id, dtype: int64
------------------------------------
-------------------Datos nulos:-------------------
game_id               0
player_id             0
first_name            0
last_name             0
jersey_num           13
team_id               0
team_city             0
team_name             0
team_abbreviation     0
dtype: int64
-----------------------------------------
Dimensiones del dataframe:
(73422, 9)
-----------------------------------------

In [268]:
df_inactive_players['jersey_num'] = df_inactive_players['jersey_num'].fillna(-1)
df_inactive_players['jersey_num'] = df_inactive_players['jersey_num'].astype('int')
df_inactive_players['jersey_num'] = df_inactive_players['jersey_num'].astype('string')
df_inactive_players['jersey_num'] = df_inactive_players['jersey_num'].replace('-1', 'sin num')

### tabla draft_history

In [269]:
df_draft_history.dtypes

person_id               int64
player_name            object
season                  int64
round_number            int64
round_pick              int64
overall_pick            int64
draft_type             object
team_id                 int64
team_city              object
team_name              object
team_abbreviation      object
organization           object
organization_type      object
player_profile_flag     int64
dtype: object

In [270]:
df_draft_history['organization'] = df_draft_history['organization'].fillna('sin org')
df_draft_history['organization_type'] = df_draft_history['organization_type'].fillna('sin org')
descripcion_datos(df_draft_history)

person_id
Mediana:  80765.5
Varianza:  152331815508.9934
Rango:  1641842
Moda:
0    76604
1    77049
Name: person_id, dtype: int64
------------------------------------
season
Mediana:  1978.0
Varianza:  350.275167482322
Rango:  76
Moda:
0    1970
Name: season, dtype: int64
------------------------------------
round_number
Mediana:  3.0
Varianza:  15.08363613548103
Rango:  21
Moda:
0    1
Name: round_number, dtype: int64
------------------------------------
round_pick
Mediana:  8.0
Varianza:  56.837826354165635
Rango:  30
Moda:
0    0
Name: round_pick, dtype: int64
------------------------------------
overall_pick
Mediana:  49.0
Varianza:  3517.7413118413288
Rango:  239
Moda:
0    0
Name: overall_pick, dtype: int64
------------------------------------
team_id
Mediana:  1610612751.0
Varianza:  237722.11623955405
Rango:  2742
Moda:
0    1610612758
Name: team_id, dtype: int64
------------------------------------
player_profile_flag
Mediana:  0.0
Varianza:  0.2469150557611208
Rango:  1
Moda:
0    0
Name: player_profile_flag, dtype: int64
------------------------------------
-------------------Datos nulos:-------------------
person_id              0
player_name            0
season                 0
round_number           0
round_pick             0
overall_pick           0
draft_type             0
team_id                0
team_city              0
team_name              0
team_abbreviation      0
organization           0
organization_type      0
player_profile_flag    0
dtype: int64
-----------------------------------------
Dimensiones del dataframe:
(7990, 14)
-----------------------------------------

In [271]:
df_draft_history.head()

,person_id,player_name,season,round_number,round_pick,overall_pick,draft_type,team_id,team_city,team_name,team_abbreviation,organization,organization_type,player_profile_flag
0,79299,Clifton McNeeley,1947,1,1,1,Draft,1610610031,Pittsburgh,Ironmen,PIT,Texas-El Paso,College/University,0
1,78109,Glen Selbo,1947,1,2,2,Draft,1610610035,Toronto,Huskies,HUS,Wisconsin,College/University,1
2,76649,Eddie Ehlers,1947,1,3,3,Draft,1610612738,Boston,Celtics,BOS,Purdue,College/University,1
3,79302,Walt Dropo,1947,1,4,4,Draft,1610610032,Providence,Steamrollers,PRO,Connecticut,College/University,0
4,77048,Dick Holub,1947,1,5,5,Draft,1610612752,New York,Knicks,NYK,Long Island-Brooklyn,College/University,1

In [272]:
#filtro common_player info

df_draft_history = df_draft_history[df_draft_history['person_id'].isin(df_common_player_info['person_id'])].reset_index(drop=True)
df_draft_history.shape

(748, 14)

### tabla draft_combine_stats

In [273]:
df_draft_combine_stats.dtypes

season                            int64
player_id                         int64
first_name                       object
last_name                        object
player_name                      object
position                         object
height_wo_shoes                 float64
height_wo_shoes_ft_in            object
height_w_shoes                  float64
height_w_shoes_ft_in             object
weight                          float64
wingspan                        float64
wingspan_ft_in                   object
standing_reach                  float64
standing_reach_ft_in             object
body_fat_pct                    float64
hand_length                     float64
hand_width                      float64
standing_vertical_leap          float64
max_vertical_leap               float64
lane_agility_time               float64
modified_lane_agility_time      float64
three_quarter_sprint            float64
bench_press                     float64
spot_fifteen_corner_left         object
spot_fifteen_break_left          object
spot_fifteen_top_key             object
spot_fifteen_break_right         object
spot_fifteen_corner_right        object
spot_college_corner_left         object
spot_college_break_left          object
spot_college_top_key             object
spot_college_break_right         object
spot_college_corner_right        object
spot_nba_corner_left             object
spot_nba_break_left              object
spot_nba_top_key                 object
spot_nba_break_right             object
spot_nba_corner_right            object
off_drib_fifteen_break_left      object
off_drib_fifteen_top_key         object
off_drib_fifteen_break_right     object
off_drib_college_break_left      object
off_drib_college_top_key         object
off_drib_college_break_right     object
on_move_fifteen                  object
on_move_college                  object
dtype: object

In [274]:

descripcion_datos(df_draft_combine_stats)

season
Mediana:  2012.0
Varianza:  43.0548620741728
Rango:  22
Moda:
0    2022
Name: season, dtype: int64
------------------------------------
player_id
Mediana:  203147.0
Varianza:  3203797754786400.5
Rango:  1962937124
Moda:
0   -1
Name: player_id, dtype: int64
------------------------------------
height_wo_shoes
Mediana:  77.75
Varianza:  11.119588769032475
Rango:  21.5
Moda:
0    80.75
Name: height_wo_shoes, dtype: float64
------------------------------------
height_w_shoes
Mediana:  79.0
Varianza:  11.039836834125408
Rango:  22.0
Moda:
0    80.5
Name: height_w_shoes, dtype: float64
------------------------------------
weight
Mediana:  212.9
Varianza:  661.4607056364032
Rango:  159.6
Moda:
0    208.0
Name: weight, dtype: float64
------------------------------------
wingspan
Mediana:  82.75
Varianza:  15.89316311765202
Rango:  28.25
Moda:
0    81.0
Name: wingspan, dtype: float64
------------------------------------
standing_reach
Mediana:  104.0
Varianza:  23.816528011572064
Rango:  33.0
Moda:
0    106.5
Name: standing_reach, dtype: float64
------------------------------------
body_fat_pct
Mediana:  6.7
Varianza:  7.555417997703496
Rango:  18.4
Moda:
0    6.7
Name: body_fat_pct, dtype: float64
------------------------------------
hand_length
Mediana:  8.75
Varianza:  0.2313880893069529
Rango:  3.0
Moda:
0    8.5
Name: hand_length, dtype: float64
------------------------------------
hand_width
Mediana:  9.5
Varianza:  0.5141839970401478
Rango:  5.0
Moda:
0    9.5
Name: hand_width, dtype: float64
------------------------------------
standing_vertical_leap
Mediana:  29.0
Varianza:  9.330857944471543
Rango:  19.0
Moda:
0    28.5
Name: standing_vertical_leap, dtype: float64
------------------------------------
max_vertical_leap
Mediana:  34.5
Varianza:  13.308676224653334
Rango:  20.5
Moda:
0    33.0
Name: max_vertical_leap, dtype: float64
------------------------------------
lane_agility_time
Mediana:  11.32
Varianza:  0.34210296811210417
Rango:  3.789999999999999
Moda:
0    11.26
Name: lane_agility_time, dtype: float64
------------------------------------
modified_lane_agility_time
Mediana:  3.1
Varianza:  0.05250670939410123
Rango:  1.5399999999999996
Moda:
0    3.02
Name: modified_lane_agility_time, dtype: float64
------------------------------------
three_quarter_sprint
Mediana:  3.27
Varianza:  0.017384413350379033
Rango:  0.8999999999999999
Moda:
0    3.27
Name: three_quarter_sprint, dtype: float64
------------------------------------
bench_press
Mediana:  10.0
Varianza:  29.0438060534678
Rango:  26.0
Moda:
0    10.0
Name: bench_press, dtype: float64
------------------------------------
-------------------Datos nulos:-------------------
season                             0
player_id                          0
first_name                         0
last_name                          0
player_name                        0
position                           5
height_wo_shoes                   49
height_wo_shoes_ft_in             49
height_w_shoes                   194
height_w_shoes_ft_in             194
weight                            50
wingspan                          49
wingspan_ft_in                    49
standing_reach                    50
standing_reach_ft_in              50
body_fat_pct                     199
hand_length                      483
hand_width                       483
standing_vertical_leap           185
max_vertical_leap                185
lane_agility_time                194
modified_lane_agility_time       791
three_quarter_sprint             190
bench_press                      394
spot_fifteen_corner_left        1128
spot_fifteen_break_left         1126
spot_fifteen_top_key            1126
spot_fifteen_break_right        1126
spot_fifteen_corner_right       1126
spot_college_corner_left         957
spot_college_break_left         1036
spot_college_top_key            1036
spot_college_break_right        1036
spot_college_corner_right       1036
spot_nba_corner_left             985
spot_nba_break_left              985
spot_nba_top_key                 985
spot_nba_break_right             985
spot_nba_corner_right            985
off_drib_fifteen_break_left     1036
off_drib_fifteen_top_key        1036
off_drib_fifteen_break_right    1036
off_drib_college_break_left     1092
off_drib_college_top_key        1171
off_drib_college_break_right    1171
on_move_fifteen                 1054
on_move_college                 1086
dtype: int64
-----------------------------------------
Dimensiones del dataframe:
(1202, 47)
-----------------------------------------

In [275]:
# Imputacion de nulos para las columnas numericas y para las columnas string
# Obtener los nombres de las columnas que son de tipo numérico
numeric_columns = df_draft_combine_stats.select_dtypes(include=['number']).columns

# Obtener los nombres de las columnas que son de tipo string
string_columns = df_draft_combine_stats.select_dtypes(include=['object']).columns

for columna in numeric_columns:
   df_draft_combine_stats[columna] = df_draft_combine_stats[columna].fillna(0)

for columna in string_columns:
    df_draft_combine_stats[columna] = df_draft_combine_stats[columna].fillna('no hay dato')

In [276]:
df_draft_combine_stats = df_draft_combine_stats.drop_duplicates(subset=['player_id'])

In [277]:
df_draft_combine_stats.head()

,season,player_id,first_name,last_name,player_name,position,height_wo_shoes,height_wo_shoes_ft_in,height_w_shoes,height_w_shoes_ft_in,weight,wingspan,wingspan_ft_in,standing_reach,standing_reach_ft_in,body_fat_pct,hand_length,hand_width,standing_vertical_leap,max_vertical_leap,lane_agility_time,modified_lane_agility_time,three_quarter_sprint,bench_press,spot_fifteen_corner_left,spot_fifteen_break_left,spot_fifteen_top_key,spot_fifteen_break_right,spot_fifteen_corner_right,spot_college_corner_left,spot_college_break_left,spot_college_top_key,spot_college_break_right,spot_college_corner_right,spot_nba_corner_left,spot_nba_break_left,spot_nba_top_key,spot_nba_break_right,spot_nba_corner_right,off_drib_fifteen_break_left,off_drib_fifteen_top_key,off_drib_fifteen_break_right,off_drib_college_break_left,off_drib_college_top_key,off_drib_college_break_right,on_move_fifteen,on_move_college
0,2001,12033,Adam,Allenspach,Adam Allenspach,C,83.50,6' 11.5'',0.0,no hay dato,259.0,84.5,7' 0.5'',107.0,8' 11'',12.4,0.0,0.0,28.5,31.0,11.90,0.0,3.40,16.0,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato
1,2001,2240,Gilbert,Arenas,Gilbert Arenas,SG,74.25,6' 2.25'',0.0,no hay dato,199.0,81.5,6' 9.5'',99.5,8' 3.5'',5.3,0.0,0.0,31.5,36.0,0.00,0.0,3.25,12.0,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato
2,2001,2220,Brandon,Armstrong,Brandon Armstrong,SG,75.50,6' 3.5'',0.0,no hay dato,188.0,81.5,6' 9.5'',99.5,8' 3.5'',9.3,0.0,0.0,30.0,37.0,10.91,0.0,3.20,6.0,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato
3,2001,2203,Shane,Battier,Shane Battier,SF-PF,80.25,6' 8.25'',0.0,no hay dato,229.0,82.5,6' 10.5'',105.0,8' 9'',9.3,0.0,0.0,29.5,33.0,10.95,0.0,3.30,12.0,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato
4,2001,12034,Cookie,Belcher,Cookie Belcher,SG-PG,75.00,6' 3'',0.0,no hay dato,206.0,80.5,6' 8.5'',99.0,8' 3'',5.3,0.0,0.0,35.0,41.5,11.26,0.0,2.91,7.0,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato,no hay dato

In [278]:
#df_draft_combine_stats.shape
#(1202, 47)

#filtro common_player info

df_draft_combine_stats = df_draft_combine_stats[df_draft_combine_stats['player_id'].isin(df_common_player_info['person_id'])].reset_index(drop=True)
df_draft_combine_stats.shape
# pasamos de (1202, 47) a (567, 47) filtrando Y limpieza por los id que obtuvimos de la filtracion de common_player_info

(567, 47)

# Subimos los df

In [279]:

from sqlalchemy import create_engine


import pyodbc

server = r'DESKTOP-S9274BN\SQLEXPRESS'
database = 'nba_henry'

connection_string = f'mssql+pyodbc://@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes'

# Crear el motor de conexión
engine = create_engine(connection_string)

# Mandar los datos a la tabla ya creada en SQL Server
df_team.to_sql('team', engine, if_exists='append', index=False)
df_team_details.to_sql('teams_details', engine, if_exists='append', index=False)
df_player.to_sql('player', engine, if_exists='append', index=False)
df_other_stats.to_sql('other_stats', engine, if_exists='append', index=False)
df_inactive_players.to_sql('inactive_player', engine, if_exists='append', index=False)
df_game.to_sql('game', engine, if_exists='append', index=False)
df_game_info.to_sql('game_info', engine, if_exists='append', index=False)
df_draft_history.to_sql('draft_history', engine, if_exists='append', index=False)
df_draft_combine_stats.to_sql('draft_combine_stats', engine, if_exists='append', index=False)
df_common_player_info.to_sql('common_player_info ', engine, if_exists='append', index=False)

20